@use '../base';

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: none;
  box-shadow: none;
  height: 50px;
  width: fit-content;
  padding: 14px 30px;
  gap: 10px;
  background-color: #B60071;
  border-radius: 10px;
  z-index: 999;
  cursor: pointer;

  &.blackBorder {
    border: 1px solid base.$black;
    background-color: transparent;
    color: base.$black;
  }

  p {
    color: base.$white !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
  }

  &:disabled {
    background-color: base.$light-grey !important;
    color: base.$darker-grey !important;
    cursor: not-allowed !important;
  }
}

// Mobile
@media (max-width: 768px) {
  .button {
    padding: 20px 30px;
    font-size: 1rem;
    justify-content: center;
  }
}