@use '../base';

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: base.$main-font;
  z-index: 1;

  .horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .inputContainer {
      width: 50%;
    }
  }

  .inputContainer {
    width: 100%;
    flex-direction: column;

    label {
      width: 100%;
      display: block;
      color: base.$white;
      font-size: base.$regular-font-size;
      font-weight: base.$regular-font-weight;
      line-height: base.$regular-line-height;
      margin-bottom: 10px;
    }

    input, textarea, .input {
      max-width: 100%;
      width: 100%;
      background-color: base.$white;
      color: base.$black;
      font-family: base.$main-font;
      font-size: base.$regular-font-size;
      padding: 15px 12px;
      border: none;
      border-radius: 15px;
      resize: none;

      &::placeholder {
        color: base.$dark-grey;
        font-size: base.$regular-font-size;
      }

      &:focus, &.focus {
        outline: 1px solid base.$light-grey;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }

    .fileLabel {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 0;

      .input {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-left: 15px;
        font-size: base.$regular-font-size;
        height: 50.5px;
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
        }
        
        .fileName {
          color: base.$white;
        }
        
        .noFileText {
          color: base.$mid-grey;
        }
      }
    }

    .alert {
      color: base.$red;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 5px;
    }
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}

// Mobile
@media (max-width: 768px) {
  .main {
    .horizontal {
      flex-direction: column;

      .inputContainer {
        width: 100%;
      }
    }

    .inputContainer {
      input, textarea, label {
        font-size: 1rem;
        line-height: 1.5;
      }

      input, .input {
        height: 40px;
      }
    }
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1400px) {
  .main {
    .horizontal {
      flex-direction: column;

      .inputContainer {
        width: 100%;
      }
    }
  }
}