@use '../base';

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  width: 100%;
  background-color: white;
  height: auto;
  padding: 2vh 2vw;
  position: fixed;
  z-index: 2;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .logoWrapper {
      position: relative;
      width: 100px;
      height: 60px;
    }
  
    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 400;
      gap: 2vw;

      .navItemContainer {
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
      }
      
      .link {
        color: base.$mid-grey;
        font-weight: 500;

        &:hover {
          color: base.$black;
        }

        &.active {
          color: base.$black;
          cursor: default;
          pointer-events: none;
        }
      }

      .underline {
        width: 100%;
        height: 3px;
        background-color: base.$black;
      }

      .lang {
        display: flex;
        gap: 10px;
        color: base.$mid-grey;

        .active {
          font-weight: 700;
          color: base.$black;
        }

        a {
          &:hover {
            color: base.$black;
          }
        }
      }
    }
  }

  .burgerMenu, .mobileNav {
    display: none;
  }
}

// Mobile
@media (max-width: 768px) {
  .container {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .top {
      position: relative;
      width: 100%;
      justify-content: space-between;

      .logoWrapper {
        width: 70px;
        height: 40px;
        margin: 5px 15px;
      }

      .nav {
        display: none;
      }
    }

    .mobileNav {
      position: relative;
      width: 100%;
      flex-direction: column;
      align-items: flex-end;
      align-self: flex-end;
      max-height: 0;
      transition: max-height 1.5s ease;
      overflow: hidden;
      padding: 0 20px;

      &.visible {
        max-height: 1000px;
        display: flex;
      }

      .link {
        color: base.$black;
        border-bottom: 1px solid base.$light-grey;
        padding: 12px 0;
        width: 100%;
        text-align: right;

        &.langsContainer {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          gap: 15px;
        }

        &:last-child {
          border-bottom: none;
        }

        &.active {
          color: base.$light-grey;
          border-bottom-color: base.$light-grey;
          pointer-events: none;
        }
      }
    }

    .burgerMenu {
      display: block;
      color: base.$white;
      margin: 5px 15px;
    }
  }
}