@use '../base';

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 75vw;
  gap: 4.5%;

  .textContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: flex-start;
    gap: 35px;
    font-size: 20px;
    line-height: 21px;
    font-weight: 300;
    color: #DADCE0;
  }

  .imageContainer {
    position: relative;
    width: 50%;
    height: auto;
    aspect-ratio: 1.7;

    img {
      border-radius: 15px;
      object-fit: cover;
    }
  }
}

// Mobile
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    width: 90vw;
    
    .imageContainer {
      width: 100%;
      height: 100%;
      aspect-ratio: 1.7;
      order: 1;
    }
  
    .textContainer {
      width: 100%;
      order: 2;
      line-height: 32px;
    }
  }

}