@use '../base';

%section {
  width: 100%;
  padding: base.$vertical-padding base.$horizontal-padding;
}

%thiner-section {
  width: 100%;
  padding: base.$vertical-padding base.$horizontal-padding-thick;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: base.$main-font;
  background-color: base.$black;

  .header {
    @extend %section;
    display: flex;
    flex-direction: column;
    z-index: 1;

    .hero {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: base.$white;
      padding-top: base.$vertical-padding;
      padding-bottom: 0;
  
      h1 {
        width: 60%;
        max-width: 590px;
        font-size: base.$big-title-size;
        line-height: 5.1rem;
        font-weight: base.$big-title-weight;
        padding-top: 40px;
        padding-bottom: 10px;
      }
  
      p {
        font-size: 4.5rem;
        font-weight: 400;
      }
    }
  }

  .formSection {
    @extend %section;
    padding-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;

    .left {
      width: 50%;
      padding-right: 8%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: base.$white;

      h3 {
        font-size: base.$medium-title-size;
        font-weight: base.$medium-title-weight;
      }

      p {
        font-size: base.$small-title-size;
        font-weight: base.$small-title-weight;
        line-height: base.$small-title-line-height;
      }

      .openPositionsContainer {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .item {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 30px 0;
          border-bottom: 1px solid base.$white;

          .arrowContainer {
            position: relative;
            width: 50px;
            height: 50px;
          }

          .right {
            display: flex;
            flex-direction: column;
            gap: 18px;
            width: 87%;

            h4 {
              font-size: base.$small-title-size;
              font-weight: base.$small-title-weight;
              padding-top: 10px;
            }

            p {
              font-size: base.$regular-font-size;
              font-weight: base.$regular-font-weight;
              line-height: base.$regular-line-height;
            }
          }
        }
      }
    }

    .right {
      width: 50%;
    }
  }

  .bgContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1250px;
    background: url('../../../public/contact/bg-image.jpeg') no-repeat center bottom;
    background-size: cover;
    pointer-events: none;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
  }
  
  .bgContainer::before {
    content: '';
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to top, transparent, base.$black);
  }
}

// COMMON
.button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  box-shadow: none;
  height: 50px;
  padding: 24px 36px;
  gap: 10px;
  background-color: base.$white;
  color: base.$black;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 40px;
  cursor: pointer;

  &.blackBorder {
    border: 1px solid base.$black;
    background-color: transparent;
    color: base.$black;
  }
}

.gradientText {
  background: base.$red-purple-text;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  &.higher {
    padding-bottom: 10px;
  }
}

// Mobile
@media (max-width: 768px) {
  %section {
    width: 100%;
    padding: 40px 10%;
  }
  %thiner-section {
    width: 100%;
    padding: 40px 10%;
  }

  .main {
    .header {
      .hero {
        padding-top: 20px;
  
        h1 {
          width: 90%;
          font-size: 2.4rem;
          line-height: 2.5rem;
          font-weight: 700;
        }
  
        .asterisc {
          display: none;
        }
      }
    }

    .formSection {
      flex-direction: column;
      gap: 40px;

      .left {
        width: 100%;
        padding-right: 0;
        gap: 20px;

        h3 {
          font-size: 1.4rem;
          font-weight: base.$big-title-weight;
          padding-bottom: 0;
        }
  
        p {
          font-size: 1rem;
          line-height: 1.5;
          margin: 5px 0;
        }

        .openPositionsContainer {
          .item {
            border-bottom-width: .7px;
            padding: 20px 0;

            .arrowContainer {
              width: 40px;
              height: 40px;
            }

            .right {
              width: 100%;
              padding-left: 10px;

              h4 {
                font-size: 1.2rem;
              }

              p {
                font-size: .9rem;
              }
            }
          }
        }
      }

      form {
        margin-top: 50px;
      }

      .right {
        width: 100%;
      }
    }
  }

  // COMMON
  .button {
    height: 40px;
    margin: 0;
    padding: 0 20px;
    font-size: 0.9rem;
    justify-content: center;
  }
}

// Tablet and Smaller Desktop
@media (min-width: 769px) and (max-width: 1400px) {
  .main {
    .header {
      .hero {
        h1 {
          width: 70%;
        }
      }
    }
  }
}