* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: pre-line;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
