@use 'base';

%section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  @extend %section;
  justify-content: space-between;
  align-items: center;

  .hero {
    @extend %section;
    background-color: black;
    align-items: center;
    margin-bottom: -90px;

    .imageContainer {
      position: relative;
      width: 100vw;
      height: 110vh;
      overflow: visible;

      .image {
        object-fit: cover;
        object-position: 50% 70%;
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, transparent 40%, black 100%);
    }

    .titleContainer {
      position: relative;
      bottom: 45vh;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 95vw;

      h1 {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 6vw;
      }
    }
  }

  .about {
    @extend %section;
    justify-content: center;
    margin-bottom: 50px;

    .link {
      color: white;
    }

    .itemsContainer {
      @extend %section;
      justify-content: center;
      gap: 80px;
      margin-top: 70px;
    }
  }

  .hire {
    @extend %section;
    justify-content: center;
    margin-bottom: 100px;

    .titlesContainer{
      position: relative;
      width: 74%;
      margin-bottom: 50px;
      margin-top: 80px;
      align-self: center;

      .sectionTitle {
        margin-top: 0 !important;
      }
    }

    .hireCardsContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-inline: 10%;
    }
  }

  .services {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .cardsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .cooperativism {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }

  .contactForm {
    @extend %section;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;

    .formContainer {
      position: relative;
      margin-top: 60px;
      width: 65vw;
    }
  }

  .collaborateForm {
    @extend %section;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 40px;

    .formContainer {
      position: relative;
      margin-top: 60px;
      width: 65vw;
    }
  }

  .partners {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
    }
  }
}

// COMMON
.sectionTitle {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 50px;
}

.sectionSubtitle {
  position: relative;
  width: 70vw;
  text-align: center;
  font-size: 24px;
  margin-top: 40px;
}

@media(min-width: 768px) and (max-width: 1660px) {
  .main {
    .hero {
      .titleContainer {
        h1 {
          margin-top: 5vh;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 768px) {
  .main {
    .hero {
      .imageContainer {
        transform: translateY(-10%);
        .image {
          object-position: 45% top;
        }
      }

      .overlay {
        background: linear-gradient(to bottom, transparent 20%, black 100%);
      }

      .titleContainer {
        padding: 0 20px;

        h1 {
          position: relative;
          font-size: 14.5vw;
          line-height: 16vw;
          padding: 0 10px;
          margin-top: 5vh;
        }
      }
    }

    .about {
      margin-top: -5vh;

      .itemsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
      }
    }

    .hire {
      width: 100%;
      align-items: center;
      margin-bottom: 70px;
      margin-top: -50px;

      .titlesContainer {
        width: 95vw;
      }

      .hireCardsContainer {
        align-items: center;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        padding-inline: 0%;
        width: 90vw;
      }
    }

    .services {
      margin-bottom: 300px;
      margin-top: -20px;

      .cardsContainer {
        width: 90vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    .cooperativism {
      margin-top: 20px;
      margin-bottom: 20px;

      .itemsContainer {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        margin-top: 30px;
      }
    }

    .contactForm {

      .formContainer {
        width: 100%;
        padding: 0 20px;
      }
    }

    .partners {
      width: 100%;
      padding-bottom: 50px;

      .itemsContainer {
        width: 100%;
        padding: 0 20px;
        justify-content: center;
        gap: 50px;
      }
    }
  }

  // COMMON
  .sectionTitle {
    padding: 0 20px;
  }

  .sectionSubtitle {
    width: 100%;
    padding: 0 20px;
  }
}
