@use 'base';

// %section {
//   width: 100%;
//   padding: base.$vertical-padding base.$horizontal-padding;
// }

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  
  .hero {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -100px;

    .imageContainer {
      position: relative;
      width: 40vw;
      height: 40vw;
    }

    .titleContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2vw;
   
      h1 {
        position: relative;
        top: -15vw;
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
      }
    }
  }

  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;

    .itemsContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 80px;
      margin-top: 70px;
    }
  }

  .hire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 100px;
    .sectionTitle{
      position: relative;
      font-size: 32px;
      width: 74%;
      margin-bottom: 80px;
      align-self: center;
    }
    .hireCardsContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }
  .services {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
    .cardsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .cooperativism {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }

  .contactForm {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .ourValues {
      position: relative;
      width: 70vw;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }

    .formContainer {
      position: relative;
      margin-top: 60px;
      width: 65vw;
    }
  }

  .partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 60px;
    }
  }
}

// COMMON
.sectionTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 50px;
}
