@use 'base';

%section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  @extend %section;
  justify-content: space-between;
  align-items: center;
  
  .hero {
    @extend %section;
    background-color: black;
    align-items: center;
    margin-top: 100px;
    margin-bottom: -100px;

    .imageContainer {
      position: relative;
      width: 40vw;
      height: 40vw;
    }

    .titleContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2vw;
   
      h1 {
        position: relative;
        top: -15vw;
        width: 100%;
        text-align: center;
        font-size: 4.5vw;
      }
    }
  }

  .about {
    @extend %section;
    justify-content: center;
    margin-bottom: 50px;

    .itemsContainer {
      @extend %section;
      justify-content: center;
      gap: 80px;
      margin-top: 70px;
    }
  }

  .hire {
    @extend %section;
    justify-content: center;
    margin-bottom: 100px;

    .titlesContainer{
      position: relative;
      width: 74%;
      margin-bottom: 50px;
      margin-top: 80px;
      align-self: center;

      .sectionTitle {
        margin-top: 0 !important;
      }
    }

    .hireCardsContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .services {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    
    .cardsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .cooperativism {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
    }
  }

  .contactForm {
    @extend %section;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .ourValues {
      position: relative;
      width: 70vw;
      text-align: center;
      font-size: 24px;
      font-weight: 600;
    }

    .formContainer {
      position: relative;
      margin-top: 60px;
      width: 65vw;
    }
  }

  .partners {
    @extend %section;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    .itemsContainer {
      width: 75vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 60px;
    }
  }
}

// COMMON
.sectionTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 50px;
}

// Mobile
@media (max-width: 768px) {
  .main {
    .hero {
      margin-top: 20px;
      height: 100vh;

      .imageContainer {
        width: 120vw;
        height: 130vw;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent, black);
      }

      .titleContainer {
        padding: 0 20px;

        h1 {
          position: absolute;
          top: 60vh;
          font-size: 12vw;
          line-height: 15vw;
          padding: 0 40px;
        }
      }
    }

    .about {
      .itemsContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        margin-top: 50px;
      }
    }

    .cooperativism {
      margin-top: 20px;
      margin-bottom: 20px;
  
      .itemsContainer {
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
        margin-top: 30px;
      }
    }

    .contactForm {
      .ourValues {
        width: 100%;
        padding: 0 20px;
      }

      .formContainer {
        width: 100%;
        padding: 0 20px;
      }
    }

    .partners {
      width: 100%;
      padding-bottom: 50px;

      .itemsContainer {
        width: 100%;
        padding: 0 20px;
        justify-content: center;
        gap: 50px;
      }
    }
  }
}

// Full HD Desktops
@media (min-width: 1920px) {
  .main {
    .hero {
      margin-bottom: -30px;

      .imageContainer {
        width: 43vw;
        height: 43vw;
      }
    }
  }
}
